/** body,
page,
section,
grid,
table,
footer,
footer-content,
div,
p,
h1,
h2,
h4,
a,
img {
  border: 1px solid red;
}*/

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2') format('woff2');
}

@font-face {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 900;
  src: url('https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2') format('woff2');
}

.body {
  background-color: #2A2C2F;
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  width: 928px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
}

.header__img {
  width: 176px;
  height: 52px;
}

.header__lang {
  align-self: flex-end;

}

.header__lang-ru {
  width: 30px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  text-align: right;
  color: #FFFFFF;
}

.header__lang-en {
  width: 29px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
}

.message {
  width: 928px;
  height: 962px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.message__title {
  width: 720px;
  height: 200px;
  font-family: "Inter"
    font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
}

.message__subtitle {
  width: 600px;
  height: 72px;
  font-family: "Inter"
    font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
}

.message__polka {
  width: 928px;
  height: 580px;
  object-fit: cover;
  margin: 0;
}

.message__text {
  width: 168px;
  height: 14px;
  align-self: flex-start;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}


.infor {
  width: 928px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.infor__content {
  width: 690px;
  /*height: 429px;*/

}

.infor__title {
  width: 690ps;
  height: 58px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #FFFFFF;
}

/*.infor__blockquote {
  margin: 0;
  width: 690px;
  height: 208px;
}*/
.infor__quote {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

.infor__digits {
  width: 690px;
  /*height: 90px;*/
  /*font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;*/
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.infor__digits-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.photo-grid {
  width: 928px;
  height: 942px;
  display: grid;
  gap: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(4, 225px);
  margin: 0 auto;
}

.photo-grid__image {
  min-width: 300px;
  height: 225px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.region {
  width: 928px;
  margin: 50px auto;
}

.region__conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  gap: 19px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.region__links {
  align-self: self-end;
}

.region__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106px;
  color: #FFFFFF;
  margin: 0;
}

.region__url {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.region__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.region__image {
  width: 440px;
  height: 440px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.region__nature {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

.cover {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  background-image: url('./sprint-3-images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 1024px;
  height: 640px;

  z-index: 0;
}

.cover:hover {
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__content {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 1;
}

.cover__title {
  margin: 0;
  height: 152px;
  width: 500px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

.cover__subtitle {
  padding: 0;
  margin: 0;
  width: 360px;
  height: 66px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}


.footer {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

}

.footer-columns {
  width: 928px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0;
}

.footer__column-links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__column-maps {
  width: 50px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0;
  margin: 0 10px 0 0;
}

.footer__column-pogoda {
  width: 57px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0;
  margin: 0 10px 0 0;
}

.footer__column-rasp {
  width: 94px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0;
  margin: 0 10px 0 0;
}

.footer__column-calendar {
  width: 86px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0;
  margin: 0 10px 0 0;
}

.footer__column-travel {
  width: 106px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/*.footer__column_content_copiright {

}*/
.footer__column-author {
  width: 186px;
  height: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #FFFFFF;
  margin: 0;
}

/* Адаптив */
/* 1024 включено в интервал */
@media screen and (max-width: 1024px) {
  .cover__content {
    padding: 190px 90px 157px 90px;
  }

  .cover__subtitle {
    margin-bottom: 0;
  }

  .cover__subtitle:last-child {
    display: none;
  }

  .cover {
    min-height: 640px;
  }

  .cover:hover::before {
    opacity: 0.8;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 20px;
  }

  .cover {
    min-height: 480px;
  }

  .cover__content {
    padding: 60px 40px 60px 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover {}

  .cover__content {
    padding: 20px 16px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;

    margin-bottom: 16px;
  }

  .cover__subtitle {
    font-size: 12px;
    line-height: 14px;
  }
}

.cover::before {
  content: '';

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  background-color: #2A2C2F;
  opacity: 0.3;

  transition: opacity 0.3s;
}