.infor__list-text {
    max-width: 690px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
  }

  @media screen and (min-width: 1024px) and (max-width: 1280px) {}
   
@media screen and (min-width: 768px) and (max-width: 1023px) {}
   
@media screen and (min-width: 425px) and (max-width: 768px) {
  .infor__list-text {
    font-size: 8px;
  }
}
    
@media screen and (max-width: 425px) {
  .infor__list-text {
    max-width: 288px;
    font-size: 10px;
    }
}