.region__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 26px 0;
    padding: 0;
  }

  .region__paragraph:last-child{
    margin: 0;
  }

@media screen and (min-width: 1024px) and (max-width: 1279px) {}
   
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .region__paragraph {
    font-size: 16px;
    margin: 0 0 25px 0;
    }
}
   
@media screen and (min-width: 425px) and (max-width: 767px) {
  .region__paragraph {
    font-size: 16px;
    }
}
    
@media screen and (max-width: 424px) {
  .region__paragraph {
    font-size: 16px;
    }
}