.message__caption {
    max-width: 168px;
    align-self: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 8px 0 0 0;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {}
   
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .message__caption {
        margin: 8px 0 0 24px;
      }
    } 
    @media screen and (min-width: 425px) and (max-width: 767px) {
      .message__caption {
        max-width: 190px;
        margin: 8px 0 0 0;
        font-size: 12px;
      }
    }  
    @media screen and (max-width: 424px) {
      .message__caption {
        max-width: 164px;
        margin: 8px 0 0 0;
        font-size: 10px;
      }
    }

  
  