.cover__overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url('../../../sprint-3-images/cover-trains.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    max-width: 1184px;
    min-height: 740px;
    text-decoration: none;
  }

  .cover__overlay::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    
  }

  .cover__overlay:hover::after {
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.8;
    z-index: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: 640px;
  }
}
   
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 485px;
  }
}
   
@media screen and (min-width: 425px) and (max-width: 767px) {
  .cover__overlay {
    max-width: 425px;
    min-height: 265px;
    }
}
    
@media screen and (max-width: 424px) {
  .cover__overlay {
    min-width: 320px;
    min-height: 200px;
  }
}