.cover__title {
    margin: 0;
    /*height: 152px;*/
    max-width: 500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
  }