.infor {
    max-width: 690px;
    margin: 92px 0 0 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .infor {
      max-width: 690px;
      margin: 92px 0 0 48px;
    }
  }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .infor {
        max-width: 720px;
        margin: 88px 24px;
      }
    } 
    @media screen and (min-width: 425px) and (max-width: 767px) {
      .infor {
        max-width: 400px;
        margin: 70px 0 0 20px;
      }
    }  
    @media screen and (max-width: 424px) {
      .infor {
        min-width: 288px;
        margin: 64px 0 0 16px;
      }
    }